<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Team <%= teamNumber %> - FRCStats</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/logo.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/logo.png">
    <style>
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <div class="header">
        <a class="home" href="/index.html">Home</a>
        <h1>Team <%= teamNumber %></h1>
        <% if (message) { %>
            <p class="error"><%= message %></p>
            <p>Season: 
                <select id="yearSelect" onchange="location = '/review/<%= teamNumber %>?year=' + this.value;">
                    <% yearsParticipated.sort((a, b) => b - a).forEach(y => { %>
                        <option value="<%= y %>" <%= y == year ? 'selected' : '' %>><%= y %></option>
                    <% }) %>
                </select>
            </p>
        <% } else { %>
            <p>Season: 
                <select id="yearSelect" onchange="location = '/review/<%= teamNumber %>?year=' + this.value;">
                    <% yearsParticipated.sort((a, b) => b - a).forEach(y => { %>
                        <option value="<%= y %>" <%= y == year ? 'selected' : '' %>><%= y %></option>
                    <% }) %>
                </select>
            </p>
            <p><%=wins%> Wins | <%=losses%> Losses | <%=ties%> Ties</p>
            <p>Win Percentage: <%= winPercentage %></p>
            <p>Median Alliance Points: <%= teamMedianPoints %></p>
        <% } %>
    </div>

    <h2>Future Matches</h2>
    <% if (predictions.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Match</th>
                    <th>Red Alliance Teams</th>
                    <th>Red Prediction</th>
                    <th>Blue Alliance Teams</th>
                    <th>Blue Prediction</th>
                    <th>Predicted Winner</th>
                </tr>
            </thead>
            <tbody>
                <% predictions.forEach(prediction => { %>
                    <tr>
                        <td><%= prediction.matchKey %></td>
                        <td class="red-alliance"><%= prediction.redTeams.replace(/frc/g, '') %></td>
                        <td class="red-alliance"><%= prediction.redMedian %></td>
                        <td class="blue-alliance"><%= prediction.blueTeams.replace(/frc/g, '') %></td>
                        <td class="blue-alliance"><%= prediction.blueMedian %></td>
                        <td><%= prediction.predictedWinner %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No future matches available at this time.</p>
    <% } %>

    <h2>Past Matches</h2>
    <% if (matches.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Match</th>
                    <th>Red Score</th>
                    <th>Blue Score</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <% matches.forEach(match => { %>
                    <tr class="<%= match.alliance.toLowerCase() %>-row">
                        <td><%= match.event %></td>
                        <td><%= match.matchKey %></td>
                        <td><%= match.redScore %></td>
                        <td><%= match.blueScore %></td>
                        <td class="<%= match.result.toLowerCase() %>"><%= match.result %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No match results available.</p>
    <% } %>
    <script src="/gradient.js"></script>
</body>
</html>